{:paths ["src/clojure" "src/cljs" "babashka"]
 :tasks
 {;; Task to run the Babashka-native microserver
  server {:doc "Launch backend Clojure web server via Babashka"
          :task ((requiring-resolve 'librarian.server/-main))}

  ;; Task to run the metadata scanning daemon loop
  daemon {:doc "Start metadata polling daemon on monitored folders"
          :task ((requiring-resolve 'librarian.core/-main))}}}
